.movies {
    display: flex;
    flex-direction: column;
}

app-popular-movies {
    margin: 30px 20px 0px 20px;
    background-color: rgb(120, 184, 153);
    border-radius: 20px;
}

app-top-rated-movies {
    margin: 0px 20px 0px 20px;
    background-color: rgb(211, 151, 151);
    border-radius: 20px;
}