.movies {
    display: flex;
    flex-direction: column;
}

app-popular-movies {
    margin-top: 30px;
    background-color: rgb(120, 184, 153);
}

app-top-rated-movies {
    background-color: rgb(211, 151, 151);
}